.fon img{
    width: 1000px;
    height: 200px;
}

.ava{
    color: aliceblue;
}

.ava img{
    width: 100px;
    height: 100px;
    border-radius: 50px; /* Радиус скругления */
    border: 3px solid gold; /* Параметры рамки */
}

.disc{
    padding: 10px;
}

.status img{
    width: 60px;
    height: 60px;
    border-radius: 30px; /* Радиус скругления */
}

.grid {
    display: grid;
    grid-template-columns:200px 80px 300px;
    grid-gap: 5px;
}
